html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
i{
    cursor: pointer;
}
ul{
    list-style: none;
}
ul li{
    float: left;
}
.bar-icon:hover i{
    color: :#fff;
}
/*.navbar, .subnavbar, .toolbar{
    background: transparent;
}*/
.button{
    border: none;
}
.searchbar{
    background: none !important;
}
.list-block{
    margin: 60px 0px;
}
.list-block ul{
    margin: 0px auto;
}
.list-block .item-inner:after{
    background: none;
}
.list-block ul:after, .list-block ul:before{
    background: #fff;
    top:1px;
}
.page>.navbar, .page>.toolbar, .view>.navbar, .view>.toolbar, .views>.navbar, .views>.toolbar{
    webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
}
.navbar-fixed .page-content, .navbar-through .page-content{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background: #fff;
}
.swiper-container {
    width: 100%;
    height: 80%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
#canvas{
 
}
/*toolbar vẽ canvas*/
#draw, #rect, #circle, #ellipse, #line, #clear, #remove, #text_input, #triangle, #er{
    background-image: url('../img/icon-pencil.png');
    border: none;
    background-size: cover;
    height:22px;
    width:22px;
}
#draw:hover{
    border: none;
}
#rect{
    background-image: url('../img/icon-rect.png');   
}
#triangle{
    background-image: url('../img/icon-triangle.png');   
}
#circle{
    background-image: url('../img/icon-circle.png');   
}
#ellipse{
    background-image: url('../img/icon-oval.png');   
}
#line{
    background-image: url('../img/icon-line.png');   
}
#remove, #er{
    background-image: url('../img/icon-eraser.png');   
}
#text_input{
    background-image: url('../img/icon-a.png');   
}
#clear{
    background: #f2f2f2;  
    border: 1px solid #007aff; 
}
/*toolbar vẽ canvas*/

/*menu trái*/
.left-menu{
    background: #4D394B;
}
.left-menu i{
    float: left;
    margin-right: 5px;
}
.left-menu .account{
    margin: 0px !important;
    height: 55px;
    border-bottom: .1rem solid rgba(0,0,0,0.12);
    webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.22);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.22);
}
.class_list{
    margin: 10px 0px!important;
    padding-top: 17px;
    height: 72px;
}
.class_list_text{
    font-size: 1.3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.left-menu .class_list:hover{
    background: #3E313C;
}
.acc_name{
    font-size: 1.125rem;
    line-height: 1.375rem;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 2rem!important;
    margin-top: 1rem!important;
    color: #fff;
    cursor: pointer;
}
.acc_status{
    color: #ab9ba9;
    opacity: 1;
    -webkit-transition: all .1s ease-out 0s;
    -moz-transition: all .1s ease-out 0s;
    transition: all .1s ease-out 0s;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.0625rem;
    margin-top: .0625rem;
    display: inline-block;
    max-width: 100%;
}
.acc_status:hover{
    color: #fff;
}
.text-success {
    width: 10px;
    height: 10px;
    float: left;
    border: none !important;
    background: #38978D;
    border-radius: 50%;
    margin-top: 3px;
    margin-right: 5px;
}
/*menu trái*/

/*listview danh sách lớp*/
.searchbar-found ul{
    width: 90%;
}
.searchbar-found .class{
    -webkit-box-shadow: 0 .1rem .1rem rgba(0,0,0,0.12);
    box-shadow: 0 .1rem .1rem rgba(0,0,0,0.12);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: padding-box;
    background-color: #fff;
    border: .1rem solid rgba(0,0,0,0.12);
    height: 17.8rem;
    margin-bottom: 2.4rem;
    margin-right: 1.4rem;
    margin-left: 1.8rem;
    position: relative;
    text-align: left;
    padding: 0px;
    width: 15.5rem;
}
.class_bg{
    width: 100%;
    height: 90%;
    background-image: url('../img/bg1.jpg');
    background-size: cover;
}
.class_name{
    margin-top: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: 0 2px rgba(0,0,0,0.11);
    color: #fff;
    padding-left: .8rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.8rem;
    cursor: pointer;
}
.class_name:hover{
    text-decoration: underline;
}
.class_id{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    cursor: pointer;
    padding-left: .8rem;
    line-height: 2rem;
}
.class_item{
    width: 50%;
    position: absolute;
    bottom: 0px;
    left: 25%;
}
.class_item i{
    color: #767676;
    margin-right: 5px;
    cursor: pointer;
}
.class_item i:hover{
    color: #222222;
}
/*listview danh sách lớp*/

/*popup tạo lớp học*/
.popup-create{
    display: none;
    opacity: 0.4;
    width: 40%;
    height: 40%;
    top:30%;
    left: 29%;
    position: absolute;
}
.popup-create .content-block{
    opacity: 1;
        display: block;
}
/*popup tạo lớp học*/

/*css trang class.html*/
.bggg{
    background-image: url('../img/bg1.jpg'); 
    width: 100%;
    height: 300px;
    background-size: cover;
}
.bggg .class_title{
    color: #fff;
    text-align: center;
    padding-top: 70px;
    font-size: 48px;
    font-weight: bold
}
.bggg .class_subtitle{
    color: #fff;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
}
.bggg ul{
    width: 310px;
    margin: -26px auto;
}
.bggg ul li{
    color: #DBE0E6;
    font-size: 1rem;
    font-weight: 500;
    margin: 7.9rem 1rem 0 0rem;
    webkit-align-items: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.bggg ul li:hover{
    color: #fff;
}
.tab_gioithieu, .tab_sinhvien, .tab_tongquan{
    color: #CFD6ED !important;
}
.tab_gioithieu:hover, .tab_sinhvien:hover, .tab_tongquan:hover{
    color: #fff !important;
}
.tongquan_ob li, .tongquan_item li{
    width: 100%;
    float: none;
}
.tongquan_ob li div{
    height: 125px;
    -webkit-box-shadow: 0 .1rem .1rem rgba(0,0,0,0.12);
    box-shadow: 0 .1rem .1rem rgba(0,0,0,0.12);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 1.2rem;
}
.tongquan_item li .item{
    height: 200px;
    width: 80%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 .1rem .1rem rgba(0,0,0,0.12);
    box-shadow: 0 .1rem .1rem rgba(0,0,0,0.12);
    border: .1rem solid rgba(0,0,0,0.12);
    margin-bottom: 3.2rem;
}    
.room_pass, .room_status, .room_video{
    padding-top: 20px;
    cursor: pointer;
}
.room_status i{
    color: #00AF02;
    width: 100%;
    cursor: pointer;
    text-align: center;
}
.room_pass span, .room_status span, .room_video span{
    padding-left: 20px;
}
.room_pass h1{
    width: 100%;
    text-align: center;
}
.tongquan_item .deadline{
    padding-right: 10px;
    text-align: end;
    font-weight: 500;
    line-height: 2.4rem;
    color: rgba(0,0,0,0.87);
}
.tongquan_item .item_title{
    padding-left: 20px;
    font-size: 1.3rem;
    padding-left: 20px;
    font-weight: 500;
    line-height: 2.4rem;
    color: rgba(0,0,0,0.87);
}
.item_quest{
    padding-left: 20px;
    padding-top: 10px;
    word-wrap: break-word;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
}
.item_des{
    padding-left: 20px;
}
.container li{
    border: .1rem solid rgba(0,0,0,0.12);
    background: #fff;
    float: none;
    margin-bottom: 10px;
}   
.container li:hover{
    webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.22);
} 
/*css trang class.html*/
