<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Login</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="css/framework7.material.min.css">
    <link rel="stylesheet" href="css/framework7.material.colors.min.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/login.css">
  </head>
  <body>
  <div class="view-main login-block">
    <i class="fa fa-google-plus"></i>
    <span>Đăng nhập với google</span>
  </div>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <script type="text/javascript">
      var myApp = new Framework7();

      // Export selectors engine
      var $$ = Dom7;

      // Add view
      var mainView = myApp.addView('.view-main', {
          // Because we use fixed-through navbar we can enable dynamic navbar
          dynamicNavbar: true
      });
      setTimeout(function(){ 
        $$('.login-block').show();
        $$('.login-block').addClass('animated fadeInDownBig');
      }, 2000);
    </script>
    <!-- Path to your app js-->
  </body>
</html>